Exemplos/_Pendencia/ListView/Codelab/Session 4 Demos/S04_ListDemo/S04_ListDemo.WindowsPhone/SampleData/ListDataSource/ListDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.ListDataSource" targetNamespace="Blend.SampleData.ListDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListDataSource" type="tns:ListDataSource" />
  <xs:complexType name="ListDataSource">
    <xs:sequence>
      <xs:element name="Groups" type="tns:GroupCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Group" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element name="Items" type="tns:ItemCollection" />
    </xs:sequence>
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute name="SubTitle" type="xs:string" />
    <xs:attribute name="ItemImage" type="tns:Basic-Image" />
    <xs:attribute blend:Format="Company Name" name="TargetGroup" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute name="SubTitle" type="xs:string" />
    <xs:attribute name="ItemImage" type="tns:Basic-Image" />
    <xs:attribute blend:Format="Company Name" name="TargetGroup" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>